{% load static %}
<!DOCTYPE html5>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href='{% static "css/bdb-layout.css" %}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
</head>

<body>

    <div class="container border teal teal-header">
        <div class="row">
            <div class="col-4 logo-padding">
                <a href="/"><img src='{% static "images/times_small.jpg" %}' alt=""></a>
            </div>
            <div class="col">
                <h1>Bonds database</h1>
                <p>Ваш проводник в мире долгового инвестирования</p>
            </div>
        </div>
    </div>
    
    <div class="container border">
        <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/">Список</a></li>
            <li class="nav-item"><a class="nav-link" href="search">Поиск</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Новости</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Статьи</a></li>
            <li class="nav-item"><a class="nav-link" href="#">О сайте</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
            {% if not request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="login">Авторизация</a></li>
            {% else %}
                {% if request.user.is_superuser %}
                    <li class="nav-item"><a class="nav-link" href="loader">Загрузить данные</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="logout"><span class="badge badge-info">{{ request.user.username}}</span>Выйти</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
    
    <div class="container border">
    <hr>
        <div class="row container">
            <div class="col-12">
                
                <p> {% block content %}
                    {% endblock %}</p>
                
            </div>
            
        
        </div>
    <hr>
    </div> 
    
    <div class="container border">
        <div class="row teal">
            <div class="col-5">
                <p class="text-justify" style="font-size: 14;">
                    Опубликованная на сайте информация предназначена для ознакомительных целей и не является ни инвестиционной рекомендацией, ни офертой какого-либо рода.
                </p>
            </div>
            <div class="col text-right">
                <small>
                    <ul class="nav flex-column">
                        <li>Контакты</li>
                        <li>Контакты</li>
                        <li>Контакты</li>
                    </ul>
                </small>
            </div>
        </div>
    </div>
             
</body>

</html>