{% extends "core/base.html" %}

{% block title %}{{ record.ISIN }}{% endblock %}

{% block content %}
    <h4>Данные о выпуске</h4> <!-- Отображаем информацию о выпуске -->
    <table>
        <tr><td>ISIN</td><td>{{ record.ISIN }}</td></tr>
        <tr><td>Company</td><td>{{ record.IssuerCompany}}</td></tr>
        <tr><td>Country</td><td>{{ record.Country }}</td></tr>
        <tr><td>Ticker</td><td>{{ record.Ticker }}</td></tr>
        <tr><td>Coupon<td>{{ record.Coupon }}</td></tr>
        <tr><td>Currency</td><td>{{ record.Currency }}</td></tr>
        <tr><td>Maturity date</td><td>{{ record.Maturity }}</td></tr>
        <tr><td>Collateral type</td><td>{{ record.CollateralType }}</td></tr>

        <tr><td>Moody's rating</td><td>{{ record.Moody }}</td></tr>
        <tr><td>S&P rating</td><td>{{ record.Sp }}</td></tr>
        <tr><td>Fitch rating</td><td>{{ record.Fitch }}</td></tr>

    </table>


    {% with comments.count as total_comments %}
        <h3>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h3>
    {% endwith %}

    {% for comment in comments %} <!-- Отображаем комментарии -->
        <div class="comment">
            <p class="info">
                Комментарий {{ forloop.counter }} оставлен {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>Комментариев нет.</p>
    {% endfor %}

    {% if new_comment %}
        <h3>Комментарий добавлен</h3>
        <form action="{{ record.ISIN }}" method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Запостить"></p>

        </form>

    {% else %}
        <h3>Добавить комментарий</h3>
        <form action="{{ record.ISIN }}" method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Запостить"></p>

        </form>
    {% endif %}

{% endblock %}
