{% extends "core/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

    {% if search_done %}
        <h5>Результаты поиска</h5>
        <form action="search" method="post">
            {{ search_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Искать"></p>
        </form>

        <table class="table table-striped table-bordered table-info">
                <tr><td>Выпуск</td><td>Компания</td><td>Код</td><td>Дата погашения</td><td>Купон</td><td>Валюта</td>
                    </tr>
        {% for res in search_results %}
		<tr>
                <td><a href="{{ res.get_absolute_url }}">{{ res.ISIN }}</a></td>
                <td>{{ res.IssuerCompany }}</td>
                <td>{{ res.Ticker }}</td>
                <td>{{ res.Maturity }}</td>
                <td>{{ res.Coupon }}</td>
                <td>{{ res.Currency }}</td>
                </tr>

        {% empty %}
        <h5>Не найдено</h5>
        {% endfor %}
	 </table>
     {% include "pagination.html" with page=search_results %}
     
    {% else %}
        <h5>Поиск</h5>
        <form action="search" method="post">
            {{ search_form.as_p }}
            {% csrf_token %}
            <p><input class="btn btn-info" type="submit" value="Искать"></p>
            </form>
    {% endif %}

{% endblock %}
