{% extends "core/base.html" %}

{% block title %}Поиск{% endblock %}

{% block content %}

    {% if search_done %}
        <h5>Результаты:</h5>
        <a class="nav-link" href="search">Повторить поиск</a>
        <table class="table table-striped table-bordered table-info">
                <thead>
                <tr>
                    <th>Выпуск</th>
                    <th>Компания</th>
                    <th>Страна</th>
                    <th>Дата погашения</th>
                    <th>Moody's</th>
                    <th>Купон</th>
                    <th>Валюта</th>
                </tr>
                </thead>
        {% for res in search_results %}
		    <tr>
                <td><a href="{{ res.get_absolute_url }}">{{ res.ISIN }}</a></td>
                <td>{{ res.IssuerCompany }}</td>
                <td>{{ res.Country }}</td>
                <td>{{ res.Maturity }}</td>
                <td>{{ res.Moody }}</td>
                <td>{{ res.Coupon }}</td>
                <td>{{ res.Currency }}</td>
            </tr>

        {% empty %}
        <h5>Не найдено</h5>
        {% endfor %}
     </table>
     
    {% include "pagination.html" with page=search_results search_parameters=search_params %}
    <p><a class="nav-link" href="search">Повторить поиск</a></p>
    
    {% else %}
        <h5>Поиск</h5>
        <form action="search" method="get">
            <table>
                {{ search_form.as_table }}
                {% csrf_token %}
            </table>
            
            <div><span><label for="maturity_start" class="mr-sm-2">Срок погашения, не ранее:</label>
                    <input  class="mr-sm-2" type="date" name="maturity_start" min="2020-01-01" max="2120-01-01" value="2020-01-01"></span>
                <span><label class="mr-sm-2" for="maturity_end">Срок погашения, не позднее:</label>
                    <input  class="mr-sm-2" type="date" name="maturity_end" min="2020-01-01" max="2120-01-01" value="2120-01-01"></span>
            </div>
            <div>
                <span><label for="coupon_min" class="mr-sm-2">С купоном не менее:</label><input class="mr-sm-2" type="number" name="coupon_min" min="0" value="0" step="0.01">%</span>
                <span><label for="coupon_max" class="mr-sm-2">С купоном не более:</label><input class="mr-sm-2" type="number" name="coupon_max" value="10" step="0.01">%</span>
            </div>
            
            <div>
                <span><label for="search_currency" class="mr-sm-2">Валюта номинала:</label>
                <select class="mr-sm-2" name="search_currency">
                        <option value="">Любая</option>
                        <option value="USD" selected>USD</option>
                        <option value="CAD">CAD</option>
                        <option value="EUR">EUR</option>
                        <option value="RUB">RUB</option>
                        <option value="GBP">GBP</option>
                        <option value="CHF">CHF</option>
                        <option value="SEK">SEK/NOK</option>
                        <option value="ITL">Другие европейские валюты</option>
                        <option value="CNY">CNY</option>
                        <option value="JPY">JPY</option>
                        <option value="AUD">AUD/NZD</option>
                        <option value="HKD">HKD/SGD</option>
                        <option value="KRW">KRW/TRY/INR/ZAR/etc</option> 
                        <option value="BRL">BRL</option>
                        <option value="ARS">Валюты Латинской Америки</option>                                        
                </select></span>
                <span><label for="search_country" class="mr-sm-2">Страна эмитента:</label>
                    <select class="mr-sm-2" name="search_country">
                            <option value="" selected>Любая</option>
                            <option value="US">Только США</option>
                            <option value="CN">Только Китай</option>
                            <option value="RU">Только Россия</option>
                    </select></span>
            </div>
            
            <div>
                <span>
                    <label for="rating_min" class="mr-sm-2">Рейтинг не ниже:</label>
                    <select name="rating_min">
                        <option value="Aaa">Aaa</option>
                        <option value="Aa1">Aa1</option>
                        <option value="Aa2">Aa2</option>
                        <option value="Aa3">Aa3</option>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="A3">A3</option>
                        <option value="Baa1">Baa1</option>
                        <option value="Baa2">Baa2</option>
                        <option value="Baa3" selected>Baa3</option>
                        <option value="Ba1">Ba1</option>
                        <option value="Ba2">Ba2</option>
                        <option value="Ba3">Ba3</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="B3">B3</option>
                        <option value="Caa1">Caa1</option>
                        <option value="Caa2">Caa2</option>
                        <option value="Caa3">Caa3</option>
                        <option value="Ca">Ca</option>
                        <option value="C">C</option>
                    </select>
                </span>
                <span>
                        <label for="rating_max" class="mr-sm-2">Рейтинг не выше:</label>
                        <select name="rating_max">
                            <option value="Aaa">Aaa</option>
                            <option value="Aa1" selected>Aa1</option>
                            <option value="Aa2">Aa2</option>
                            <option value="Aa3">Aa3</option>
                            <option value="A1">A1</option>
                            <option value="A2">A2</option>
                            <option value="A3">A3</option>
                            <option value="Baa1">Baa1</option>
                            <option value="Baa2">Baa2</option>
                            <option value="Baa3">Baa3</option>
                            <option value="Ba1">Ba1</option>
                            <option value="Ba2">Ba2</option>
                            <option value="Ba3">Ba3</option>
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="B3">B3</option>
                            <option value="Caa1">Caa1</option>
                            <option value="Caa2">Caa2</option>
                            <option value="Caa3">Caa3</option>
                            <option value="Ca">Ca</option>
                            <option value="C">C</option>
                        </select>
                    </span>
            </div>
             
            <div>
                <label for="records_on_page" class="mr-sm-2">Записей на странице:</label><input class="mr-sm-2" type="number" name="records_on_page" min="10" max="1000" value="25" step="5">
            </div>
            
            <p><input class="btn btn-info" type="submit" value="Искать"></p>
        </form>
    {% endif %}

{% endblock %}
