
.main {
	margin: 1.2cm 1.2cm 1.2cm 1.2cm;
	background-color: white;
	font-family: helvetica, sans-serif;

}

#image-times {
	float: left;
	border-style: solid;
	border-color: #09A7A1;
	border-width: 2.7px;
}

.header {
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 28pt;
	text-align: center;
	background-color: #09A7A1;
	border-style: solid;
	border-color: #09A7A1;
	border-width: 1px;
	height: 108px;
}

#left {
	float: left;
	width: 85%;
}


.content {	
	color: #333333;
	padding: 0.5cm 0.81cm 0.81cm 0.81cm;
	text-align: justify;
	position: relative; 
	top: 0.7cm;
	border-style: solid;
	border-color: #09A7A1;
	border-width: 1px;
}

#right {
	float: right;
	width: 15%;
	height: 60%;
	text-align: right;
}

.menu {
	color: #333333;
	background-color: #99D7C1;
	border-style: solid;
	border-color: #09A7A1;
	border-width: 1px;
	padding: 0.5cm 0.5cm 0.81cm 0.81cm;
	margin-top: 0.7cm;
	margin-left: 0.5cm;
	height: 100px;
}

.sidebar {
	color: #333333;
	background-color: #dbf7ea;
	border-style: solid;
	border-color: #09A7A1;
	border-width: 1px;
	padding: 0.5cm 0.5cm 0.81cm 0.81cm;
	position: relative; 
	top: 0.6cm;
	margin-left: 0.5cm;
	height: 70%;
}

